html, body {
    height: 100%;
    margin: 0;
}

/* colors */
:root{
    --background1: #e6e6e6;
    --fontColor1: #1a1a1a;
    --primaryColor1: #4a90e2;
    --primaryColor2: #a3d5ff;
    --primaryColor3: #abffcb;
    --secondaryColor1: #dee2e6;
    --secondaryColor2: #797979;
    --secondaryColor3: #383838;
    --contrastColor1: #ffc72d;
}
/* logo */
.logo {
    border-radius: 50px;
}

.biglogo {
    border-radius: 50px;
}

/* card */
.cardWrapper{
    /* display */
    display: flex;
    flex-direction: column;

    /* color */
    background: linear-gradient(var(--primaryColor2), var(--secondaryColor1), var(--secondaryColor1));
    color: var(--fontColor1);

    /* box model */
    padding-bottom: 8px;
    margin: 16px;
    border: 2px solid var(--secondaryColor1);
    border-radius: 8px;
}
.cardImageCustom{
    /* size */
    max-width: 100%;

    /* box model */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.cardTextCustom{
    /* box model */
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
.cardDescriptionCustom{
    /* tramite questa classe css il testo della descrizione viene croppato ad una riga */
    display: -webkit-box;
    line-clamp: 1;        
    -webkit-line-clamp: 1;       
    -webkit-box-orient: vertical;
    overflow: hidden;            
    text-overflow: ellipsis;
}
.btnShowCustom{
    margin-left: 8px;
}

/* show view */
.showElementCustom{
    margin-left: 12vw !important;
}
/* carousel */
.carouselImgCustom{
    /* size */
    height: 60vh; 
}

/* revisor */
.btnRevisorCustom{
    width: 100px;
}
/* revisor index */
.pageWrapper{
    height: 80vh;
}
/* revisor carousel */
.carousel-inner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.carousel {
    max-width: 600px;
    margin: 0 auto;
}